@import "./sass-resources.scss";
$primary-color: #0000ff;
$secondary-color: #ff1111;
$disabled-color: #777;
$border-color: #999;
$border-radius: 10px;

body {
    font-family: Roboto;
    font-size: 20px;
}