.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    &.center {
        justify-content: center;
    }
    &.start {
        justify-content: start;
    }
    &.end {
        justify-content: end;
    }
    &.space-between {
        justify-content: space-between;
    }
}