@import "../../../sass/main.scss";

.paper {
    padding: 20px;
    margin: 10px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    width: 70%;
    &.shadow {
        box-shadow: 5px 5px grey;
    }
}